{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>List train</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for trajet in trajets %}
                    Gare de Départ : {{ trajet.gareDepart }}<br>
                    Heure de Départ : {{ trajet.heureDepart|date("d/m/Y h:m") }}<br>
                    Gare d'Arrivé : {{ trajet.gareArrive }}<br>
                    Heure d'Arrivé : {{ trajet.heureArrive|date("d/m/Y h:m") }}<br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}